@model EpicMarket.Data.Models.CommunicationQueue

@{
    ViewData["Title"] = "Communication Queue Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb d-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Communication Queue</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Details</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.Subject)</th>
                    <td>@Html.DisplayFor(model => model.Subject)</td>
                </tr>
                <tr>
                    <th class="bg-light" style="width: 30%; height: 100px; overflow-y: auto;">@Html.DisplayNameFor(model => model.MessageData)</th>
                    <td style="height: 100px; overflow-y: auto;">@Html.DisplayFor(model => model.MessageData)</td>
                </tr>
                <tr>
                    <th class="bg-light" style="width: 30%; height: 100px; overflow-y: auto;">@Html.DisplayNameFor(model => model.MessageText)</th>
                    <td style="height: 100px; overflow-y: auto;">@Html.DisplayFor(model => model.MessageText)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.Attempts)</th>
                    <td>@Html.DisplayFor(model => model.Attempts)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ScheduledDate)</th>
                    <td>@Html.DisplayFor(model => model.ScheduledDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.NotificationRecipient)</th>
                    <td>@Html.DisplayFor(model => model.NotificationRecipient)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.SysStartTime)</th>
                    <td>@Html.DisplayFor(model => model.SysStartTime)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.SysEndTime)</th>
                    <td>@Html.DisplayFor(model => model.SysEndTime)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ContactMethod)</th>
                    <td>@Html.DisplayFor(model => model.ContactMethod.ID)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <td>@Html.DisplayFor(model => model.CreateDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.CreateBy)</th>
                    <td>@Html.DisplayFor(model => model.CreateBy)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedDate)</td>
                </tr>
                <tr>
                    <th class="bg-light">@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-footer">
       <a href="javascript:history.go(-1)" class="btn btn-secondary">
           <i class="bx bx-arrow-back me-1"></i> Back
        </a>
    </div>
</div>