@using EpicMarket.Data.Models
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
    <div class="d-flex align-items-center">
        <i class="bx bx-user me-3 @(ManageNavPages.IndexNavClass(ViewContext) == "active" ? "text-white" : "text-black")"></i>
        <span>Profile</span>
    </div>
</a>
<a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
    <div class="d-flex align-items-center">
        <i class="bx bx-lock-alt me-3 @(ManageNavPages.ChangePasswordNavClass(ViewContext) == "active" ? "text-white" : "text-black")"></i>
        <span>Password</span>
    </div>
</a>
@if (hasExternalLogins)
{
    <a class="list-group-item list-group-item-action @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-logins" asp-page="./ExternalLogins">
        <div class="d-flex align-items-center">
            <i class="bx bx-link-alt me-3 @(ManageNavPages.ExternalLoginsNavClass(ViewContext) == "active" ? "text-white" : "text-black")"></i>
            <span>External logins</span>
        </div>
    </a>
}
<a class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
    <div class="d-flex align-items-center">
        <i class="bx bx-shield-quarter me-3 @(ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) == "active" ? "text-white" : "text-black")"></i>
        <span>Two-factor authentication</span>
    </div>
</a>
